@use "../../../assets/styles/common/breakpoints" as *;

.layout-configurator {
  margin-top: var(--header--height);
  background-color: #edf0f5;

  @include media-breakpoint-up(lg) {
    height: calc((var(--vh, 1vh) * 100) - var(--header--height) - var(--cta-bar--height));
  }

  &__configurator {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    height: 100%;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      display: block;
      height: auto;
    }
  }

  &__wrap {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem clamp(2rem, 6vw, 9.5rem) 5rem var(--padding--body);
    position: relative;

    @include media-breakpoint-between(lg, xl) {
      padding-right: var(--padding--body);
    }

    @include media-breakpoint-down(lg) {
      padding:
        2rem
        var(--padding--body)
        calc(var(--cta-bar--height) + 2rem)
        var(--padding--body);
    }

    &__content {
      margin: auto 0;
      width: min(64rem, 100%);
    }
  }
}
