DATABASE_URL=mysql://quantum:quantum@127.0.0.1:3306/quantum_motors_test
PORT=3000
HOST=127.0.0.1
ADMIN_PASSWORD=P@ssw0rd!
CAR_SERVICE_IMAGE_URL=http://127.0.0.1:3000
CORS_ORIGIN=http://127.0.0.1:4200
